body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #330202;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 20px;
}

.subheader {
  color: #888;
}

/* Mobile  */
@media (max-width: 768px) {
  .card {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    flex-basis: calc(50% - 10px); /* Adjust based on margin */
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .card:nth-child(9) {
    grid-column: span 3; 
  }
}
